body {
  @apply bg-stone-300 text-stone-900
           dark:bg-slate-900 dark:text-stone-300
           /* bg-gradient-to-bl from-sky-400 */
           bg-gradient-to-br from-stone-50 via-violet-50
                               dark:from-slate-800 dark:via-[#191757]
           min-h-screen
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .soft-gradient {
    @apply bg-gradient-to-br from-stone-50 via-violet-50
                             dark:from-slate-800 dark:via-[#191757]
  }
  .hard-gradient {
    @apply bg-gradient-to-br from-sky-400 via-blue-400 dark:from-indigo-900 dark:via-blue-900
    /* dark:bg-blue-900 bg-blue-400 */
  }
  .btn {
    @apply text-center border-2 w-32 rounded-lg transition-all py-1
           border-stone-900 text-stone-900 dark:text-stone-300 dark:border-stone-300
           bg-gradient-to-br hover:bg-gradient-to-tl
           dark:from-indigo-900 dark:to-blue-900
           from-stone-50 to-stone-200
           hover:cursor-pointer
  }

  .link {
    @apply text-blue-400 font-bold underline hover:text-blue-600 transition-all
  }
}