body {
  @apply bg-stone-300 text-stone-900
           dark:bg-stone-900 dark:text-stone-300
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .fachschaften-selection {
    flex: 1 1 25rem;
    @apply flex flex-col gap-4 border-2 border-pink-500
  }
  .fachschaft-details {
    flex: 1 1 75rem;
    @apply border-pink-500 border-2
  }
}